<!DOCTYPE html>
<html>
  <head>
    <title>Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <p>
      Monitor for: 
      <ul>
        <li>Namespace: {{ .Namespace }}</li>
      </ul> 
    </p>
    
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
      	<tr>
          <th scope="col">Name</td>
          <th scope="col">Status</td>
          <th scope="col">StartTime</td>
          <th scope="col">CompletionTime</td>
          <th scope="col">Duration</td>
          <th scope="col">Logs</td>
      </tr>
    </thead>
    <tbody>
      	{{ with .Jobs }}
			{{ range . }}
      			<tr>
              		<th scope="row">{{ .Name }}</td>
                  <td>{{ .Status }}</td>
                  <td>{{ .StartTime }}</td>
                  <td>{{ .CompletionTime }}</td>
                  <td>{{ .Duration }}</td>
                  <td><a href="/job/log/{{ .Name }}">Logs</a></td>
            </tr>
            </tbody>
			{{ end }} 
      	{{ end }}
    </table>
  </body>
</html>