<!DOCTYPE html>
<html>
  <head>
    <title>Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <p>
      Monitor for: 
      <ul>
        <li>Namespace: {{ .Namespace }}</li>
      </ul> 
    </p>
    
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
      	<tr>
          <th scope="col">Job Name</td>
          <th scope="col">Job Status</td>
          <th scope="col">Job Start Time</td>
          <th scope="col">Job Completion Time</td>
          <th scope="col">Job Duration</td>
          <th scope="col">Pod Status</td>
          <th scope="col">Pod Last State (Message)</td>
          <th scope="col">Logs</td>
      </tr>
    </thead>
    <tbody>
      	{{ with .Jobs }}
			{{ range . }}
      			<tr>
              		<th scope="row"><a href="/job/{{ .Name }}">{{ .Name }}</a></td>
                  <td>{{ .Status }}</td>
                  <td>{{ .StartTime }}</td>
                  <td>{{ .CompletionTime }}</td>
                  <td>{{ .Duration }}</td>
                  <td>{{ .Pod.Status }}</td>
                  <td>{{ .Pod.LastState.Type }} ({{ .Pod.LastState.Reason }} {{ .Pod.LastState.Message }})</td>
                  <td><a href="/logs/job/{{ .Name }}/log">Logs</a></td>
            </tr>
            </tbody>
			{{ end }} 
      	{{ end }}
    </table>
  </body>
</html>