<!DOCTYPE html>
<html>
  <head>
    <title>Monitor / Jobs / {{ .Job.Name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" class="init">
      $(document).ready(function() {
        $('table.cell-border').DataTable( {
          "paging":   false,
          "ordering": true,
          "info":     false
        } );	
      } );
	  </script>
    <style>
      table.dataTable thead tr {
        background-color: #EAEDED;
      }

      h5 {
        display: inline-block;
      }
    </style>
  </head>
  <body>
  {{template "navbar" .}}
  <div class="container-fluid">
   <div class="row">
     <div class="col-sm">
      <h3>Monitor / Jobs / {{ .Job.Name }}</h3>    
      <p class="lead">
        <table width="90%">  
          <h4> 
          {{ $status :=.Job.JobState }}
          {{ if $status.HasFailures }}
            <span class="badge badge-pill badge-danger">{{ $status }}</span>
          {{ else }}
            {{ if $status.IsRunning }}
              <span class="badge badge-pill badge-primary">{{ $status }}</span>
            {{ else }}
              <span class="badge badge-pill badge-success">{{ $status }}</span>
            {{end}}  
          {{end}}
          </h4>
          <tr><td><b>Namespace:</b></td><td>{{ .Job.Namespace }}</td></tr>
          <tr><td><b>Created:</b></td><td>{{ .Job.CreationTimestamp.Format "Jan 02, 2006, 15:04:05 PM (MST)" }}</td></tr>
          <tr><td><b>Parallelism:</b></td><td>{{ .Job.Spec.Parallelism }}</td></tr>
          <tr><td><b>Labels:</b></td><td>
            <table width="60%"><tr><td><h6>
            {{ range $key, $value := .Job.Labels }}
             <h5><span class="badge badge-pill badge-primary">{{ $key }}: {{ $value }}</span></h5>
            {{ end }}
            </h6></td></tr></table>
          </td></tr>
          <tr><td><b>Started:</b></td><td>{{ .Job.Status.StartTime.Format "Jan 02, 2006, 15:04:05 PM (MST)" }}</td></tr>
          <tr><td><b>Active:</b></td><td><span class="badge badge-primary badge-pill">{{ .Job.Status.Active }}</span></td></tr>
          <tr><td><b>Succeeded:</b></td><td><span class="badge badge-success badge-pill">{{ .Job.Status.Succeeded }}</span></td></tr>
          <tr><td><b>Failed:</b></td><td><span class="badge badge-danger badge-pill">{{ .Job.Status.Failed }}</span></td></tr>
        </table>
      </p>
     </div>
   </div>

  <div class="row">
    <div class="col-sm">
      <p class="lead">
      <h4>Pod Specification</h4>
      <h6>Environment: </h6>
        <table>
        {{ range .Job.ContainerEnv }}
           <tr><td style="padding:2px">{{ .Name }}</td><td><h5><span class="badge badge-pill badge-primary">{{ .Value }}</span></h5></td></tr>
        {{ end }}
        <table>
      </p>  
    </div>
  </div>

   <div class="row">
     <div class="col-sm">
      <p class="lead">
      <h4>Job Conditions</h4>
      <table id="data" class="cell-border compact" style="width:100%">

        <thead class="thead-light">
      	<tr>
          <th scope="col">Message</td>
          <th scope="col">Reason</td>
          <th scope="col">Type</td>
          <th scope="col">Status</td>
          <th scope="col">Last Probe Time</td>
          <th scope="col">Last Transition Time</td>
        </tr>
      </thead>
      <tbody>
      	{{ with .Job.Status.Conditions }}
			  {{ range . }}
      	  <tr>
            <th>{{ .Message }}</td>
            <td>{{ .Reason }}</td>
            <td>{{ .Type }}</td>
            <td>{{ .Status }}</td>
            <td>{{ .LastProbeTime.Format "Jan 02, 2006, 15:04:05 PM (MST)" }}</td>
            <td>{{ .LastTransitionTime.Format "Jan 02, 2006, 15:04:05 PM (MST)" }}</td>
          </tr>
        {{ end }} 
      	{{ end }}
      </tbody>
      </table>
      </p>  
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p class="lead">
      <h4>Managed Pods</h4>
      <table id="data" class="cell-border compact" style="width:100%">
      <thead class="thead-light">
      	<tr>
          <th scope="col">Name</td>
          <th scope="col">Status</td>
          <th scope="col">Message</td>
          <th scope="col">Created On</td>
          <th scope="col">Log</td>
        </tr>
      </thead>
      <tbody>
      {{ with .Pods }}
			{{ range . }}
      	<tr>
          <th>{{ .Name }}</td>
          <td>
          {{if .Status.Conditions}}
            {{ $status := (index .Status.Conditions 0).Reason }}
            {{ if eq $status "Unschedulable" }}
              <span class="badge badge-danger">{{ $status }}</span>
            {{ else }}
            <span class="badge badge-info">{{ $status }}</span>
            {{end}}
          {{end}}
          </td>
          <td>
            <ul>
            {{if .Status.Conditions}}
            {{ $condition := (index .Status.Conditions 0) }}
               {{ $condition.Message }}
            {{end}}
            </ul>
          </td>
          <td>{{ .CreationTimestamp.Format "Jan 02, 2006, 15:04:05 PM (MST)" }}</td>
          <td><a href="/logs/pod/{{ .Name }}/log">Logs</a></td>
        </tr>
			{{ end }} 
      {{ end }}
      </tbody>
      </table>
      </p>  
    </div>
  </div>

 </div>
</body>
</html>